* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

html{
    font-size: 0px;
}

#header{
    font-size: 24px;
    color: white;
    width: 420px;
    margin: auto;
    position: relative;
}

#header h1, #header button{
    display:inline-block
}

#header button{
    height: 30px;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 42px;
    font-weight: bold;
    background: yellow;
}

#container{
    width: 420px;
    margin: auto;
}

body {
    background: black;
}

.row div {
    width: 28px;
    height: 28px;
    display: inline-block;
}

.wall {
    background: blue;
    /*border: 3px solid blue;*/
}

.food {
    background: white;
    border: 10px solid black;
    border-radius: 100%;
}

.cherry {
    background-image: url('cherry.jpg');
    background-size: cover;
}

.plyr {
    background-image: url('http://i274.photobucket.com/albums/jj258/lynzeelove/pacman-1.gif');
    background-size: cover;
}

.ghost {
    background-image: url('red_ghost.png');
    background-size: cover;
}