* {
    box-sizing: border-box;

}

html{
        font-size: 0px;
}

#header{
    font-size: 16px;
    color: white;
}

body {
    background: black;
}

.row div {
    width: 28px;
    height: 28px;
    display: inline-block;
}

.wall {
    background: blue;
}

.food {
    background: white;
    border: 10px solid black;
    border-radius: 100%;
}

.plyr {
    background-image: url('http://i274.photobucket.com/albums/jj258/lynzeelove/pacman-1.gif');
    background-size: cover;
    
}